<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<nav>
    <h2>AI Interview Preparation Platform</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Logout</a></li>
    </ul>
</nav>

<section class="hero">

    <h1>Admin Dashboard</h1>

    <p>Manage interview questions.</p>

</section>

<div class="cards-container">

    <a href="/add-question" class="card">
        <h2>Add Question</h2>
    </a>

    <a href="#" class="card">
        <h2>Edit Question</h2>
        <p>Coming Soon</p>
    </a>

    <a href="#" class="card">
        <h2>Delete Question</h2>
        <p>Coming Soon</p>
    </a>

    <a href="#" class="card">
        <h2>View Questions</h2>
        <p>Coming Soon</p>
    </a>

</div>

<footer>
    Built with Spring Boot and MySQL
</footer>

</body>
</html>