<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DSA Questions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav class="navbar">
    <div class="logo">AI Interview Preparation Platform</div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/java">Java</a></li>
        <li><a href="/dsa">DSA</a></li>
        <li><a href="/dbms">DBMS</a></li>
        <li><a href="/os">OS</a></li>
        <li><a href="/oops">OOPs</a></li>
    </ul>
</nav>

<section class="hero">
    <h1>DSA Interview Questions</h1>
    <p>Practice DSA interview questions from the database.</p>
</section>

<div class="cards-container">

    <div th:each="question : ${questions}" class="card">

        <h3 th:text="${question.questionText}"></h3>

        <p>
            <strong>Answer:</strong>
            <span th:text="${question.answer}"></span>
        </p>

    </div>

</div>

<footer>
    <p>Built with Spring Boot and MySQL</p>
</footer>

</body>
</html>