<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<nav>
    <h2>AI Interview Preparation Platform</h2>

    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<section class="hero">

    <h1>Welcome Back</h1>

    <p>Select how you want to continue.</p>

</section>

<div class="cards-container">

    <div class="card">

        <h2>👨‍🎓 Student Login</h2>

        <div th:if="${error}" style="color:red; margin-bottom:15px; font-weight:bold;">
            <span th:text="${error}"></span>
        </div>
        <form th:action="@{/login}" method="post">

            <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    required>

            <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    required>

            <button class="primary-btn" type="submit">
                Login
            </button>

        </form>

        <p style="margin-top:20px;text-align:center;">

            New here?

            <a th:href="@{/register}">
                Create an Account
            </a>

        </p>

    </div>
    <a href="/admin-dashboard" class="card">
        <h2>👨‍💼 Admin Login</h2>
        <p>Add, edit and manage interview questions.</p>
    </a>

</div>

<footer>
    Built with Spring Boot and MySQL
</footer>

</body>
</html>