<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<nav>
    <h2>AI Interview Preparation Platform</h2>

    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<section class="hero">

    <h1>Welcome Back</h1>

    <p>Select how you want to continue.</p>

</section>

<div class="cards-container">

    <a href="/student-dashboard" class="card">
        <h2>👨‍🎓 Student Login</h2>
        <p>Practice interview questions and track your progress.</p>
    </a>

    <a href="/admin-dashboard" class="card">
        <h2>👨‍💼 Admin Login</h2>
        <p>Add, edit and manage interview questions.</p>
    </a>

</div>

<footer>
    Built with Spring Boot and MySQL
</footer>

</body>
</html>