<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Register | AI Prep</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div style="width:500px;margin:100px auto;padding:40px;background:white;border-radius:20px;box-shadow:0 10px 30px rgba(0,0,0,.1);">

    <h1 style="margin-bottom:30px;text-align:center;">
        Create Account
    </h1>

    <form th:action="@{/register}" method="post">

        <input
                type="text"
                name="fullName"
                placeholder="Full Name"
                style="width:100%;padding:15px;margin-bottom:15px;">
        <input
                type="email"
                name="email"
                placeholder="Email"
                style="width:100%;padding:15px;margin-bottom:15px;">
        <input
                type="password"
                name="password"
                placeholder="Password"
                style="width:100%;padding:15px;margin-bottom:15px;">

        <input
                type="text"
                name="college"
                placeholder="College"
                style="width:100%;padding:15px;margin-bottom:15px;">
        <input
                type="text"
                name="branch"
                placeholder="Branch"
                style="width:100%;padding:15px;margin-bottom:15px;">
        <input
                type="number"
                name="yearOfStudy"
                placeholder="Year of Study"
                style="width:100%;padding:15px;margin-bottom:25px;">
        <button
                type="submit"
                style="width:100%;padding:16px;background:#10B981;color:white;border:none;border-radius:10px;font-size:18px;">

            Register

        </button>

    </form>

</div>

</body>

</html>