<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<nav>
    <h2>AI Interview Preparation Platform</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/subjects">Subjects</a></li>
        <li><a href="/login">Logout</a></li>
    </ul>
</nav>

<section class="hero">

    <h1>Student Dashboard</h1>

    <p>Choose a subject to start practicing.</p>

</section>

<div class="cards-container">

    <a href="/java" class="card">
        <h2>Java</h2>
    </a>

    <a href="/dsa" class="card">
        <h2>DSA</h2>
    </a>

    <a href="/dbms" class="card">
        <h2>DBMS</h2>
    </a>

    <a href="/os" class="card">
        <h2>Operating System</h2>
    </a>

    <a href="/oops" class="card">
        <h2>OOPs</h2>
    </a>

</div>

<footer>
    Built with Spring Boot and MySQL
</footer>

</body>
</html>